.overlay {
    position: absolute; 
  bottom: 0;
  top:0; 
  background: rgb(112, 62, 145);
  background: rgba(112, 62, 145, 0.9); /* Black see-through */
  color: #703E91; 
  width: 100%;
  transition: 1s ease;
  opacity:0;
  color: white;
  font-size: 40px;
  padding: 20px;
  text-align: center;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }

  .chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 50vw;
  }

  .checked {
    color: orange;
  }

  .vl {
    border-left: 6px solid green;
    height: 500px;
  }


  
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
/* slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }